<div
  class='p-6 m-3 max-w-auto mx-auto bg-white flex flex-wrap items-center rounded-xl shadow-md space-x-4'
>
  <h3 class='text-xl'>Stock Price &lt;-> Tweets about the Company</h3>
  <canvas id='stockPriceToCompanyTweets' class='w-max'></canvas>
</div>
<div
  class='p-6 m-3 max-w-auto mx-auto bg-white flex flex-wrap items-center rounded-xl shadow-md space-x-4'
>
  <h3 class='text-xl'>Stock Price &lt;-> Tweets about the Company</h3>
  <canvas id='stockPriceToCompanyTweetsScatter' class='w-max'></canvas>
</div>

<div class='p-6 m-3 max-w-auto mx-auto bg-white rounded-xl shadow-md space-x-4'>
  <h3 class='text-xl w-100'>Pearson Corelation</h3>
  <section
    class='max-w-auto mx-auto grid grid-cols-2 grid-rows-2 md:grid-rows-1 items-center space-x-4'
  >
    <div
      class='m-6 p-6 bg-red-500 rounded-xl shadow-md text-white text-l col-span-2 md:col-span-1'
    >
      <h4>pcorr</h4>
      <p id='pcorr'></p>
    </div>
    <div
      class='m-6 p-6 bg-blue-500 rounded-xl shadow-md text-white text-l col-span-2 md:col-span-1'
    >
      <h4>p-value</h4>
      <p id='pValue'></p>
    </div>
  </section>
</div>

<div class='p-6 m-3 max-w-auto mx-auto bg-white rounded-xl shadow-md space-x-4'>
  <h3 class='text-xl w-100'>Full @StdLib/stats Output</h3>
  <p id='correlationCoeficcient'></p>
</div>

<script>
  const data =
  {{{data}}};
</script>
<!-- Replace the placeholder fields with the corralation -->
<script type='module' src='calculateCorrelation.js'></script>
<!-- Chart.js Charts -->
<script src='charts/stockPriceToCompanyTweets.js'></script>
<script src='charts/stockPriceToCompanyTweetsScatterPlot.js'></script>