<div class="m-6 p-6 max-w-auto mx-auto bg-white rounded-xl shadow-md grid grid-cols-3 grid-rows-4 md:grid-rows-2 items-center space-x-4">
  <p class="text-2xl text-center col-span-3">
    Welcome to my project for our "Integrationsseminar" course at DHBW Mannheim.
  </p>
    <div
    class='p-6 m-2 max-w-auto mx-auto bg-blue-400 rounded-xl shadow-md flex items-center space-x-4 h-36 col-span-3 md:col-span-1'
  >
    </span>
    <p class='text-2xl text-white'>Querying 6 companies</p>
  </div>
  <div
    class='p-6 m-2 max-w-auto mx-auto bg-green-400 rounded-xl shadow-md flex items-center space-x-4 h-36 col-span-3 md:col-span-1'
  >
    </span>
    <p class='text-2xl text-white'>{{records}} records currently in the Database</p>
  </div>
    <div
    class='p-6 m-2 max-w-auto mx-auto bg-red-400 rounded-xl shadow-md flex items-center space-x-4 h-36 col-span-3 md:col-span-1'
  >
    </span>
    <p class='text-2xl text-white'>Approximately {{approxDataPoints}} datapoints available for analysis</p>
  </div>
</div>

<div class="m-6 p-6 max-w-auto mx-auto bg-white rounded-xl shadow-md space-x-4">
 <h3 class="text-2xl">Project Description</h3>
 <p>
   I am interested in the number of tweets that mention a big tech company  <a href="/apple">Apple</a>, Meta, Microsoft, Alphabet, Amazon, Tesla) and the respective stock prices of that company at that time.
My idea is that if the number of tweets mentioning one of the companies should be corelated to the respective stock prices.
 </p>
</div>

<div class="m-6 p-6 max-w-auto mx-auto bg-white rounded-xl shadow-md space-x-4">
 <h3 class="text-2xl">Hypothesis</h3>
  <div
    class='max-w-auto mx-auto flex flex-wrap md:flex-nowrap items-center'
  >
    <div class="m-4 flex flex-col">
      <p class="text-3xl text-center">1.</p>
      <p>All the beforementioned companies’ stock is corelated with the twitter activity regarding them.</p>
    </div>
    <div class="m-4 flex flex-col">
      <p class="text-3xl text-center">2.</p>
      <p>From the companies mentioned, the one that has the biggest correlation between stock price and tweets (positive or negative) is Elon Musk’s Tesla.</p>
    </div>
    <div class="m-4 flex flex-col">
      <p class="text-3xl text-center">3.</p>
      <p>Apple (traditionally keeping a lower profile in social media) has the lowest correlation between stock price and the number of tweets regarding them.</p>
    </div>
  </div>
</div>

<div class="m-6 p-6 max-w-auto mx-auto bg-white rounded-xl shadow-md space-x-4">
 <h3 class="text-2xl">Results</h3>
 <h4 class="text-xl">First Hypothesis</h4>
  <p>
    In fact all companies’ stock is at least slightly corelated to the mentions of the respective company on Twitter. 
      Although the correlation in the case of <a href="/alphabet">Alphabet</a> is minimal (approx. 0.087), it is still there.
      This leads to the conclusion that this hypothesis can be regarded as true.
  </p>
  <h4 class="text-xl">Second Hypothesis</h4>
  <p>
    Reviewing the correlations calculated, this hypothesis can suprisingly not be validated. <a href="/telsa">Tesla</a>, with a correlation of approx. -0.102, resides at the lower end of the spectrum.
  </p>
  <h4 class="text-xl">Third Hypothesis</h4>
  <p>
    This last hypothesis can also not be validated since in the dataset aquired <a href="/apple">Apple</a> has the biggest correlation out of all of the companies tested with approx. 0.411. 
    This was surprising since <a href="/apple">Apple</a> traditionally tries to keep a lower profile in social media. However, these results seem to make sense as <a href="/apple">Apple</a> also frequently provokes with expensive 
    monitor stands or 25$ cleaning coths. The longer I think about it the more it makes sense. <a href="/apple">Apple</a> has used the public outcry about products like these quiet often in the past to get additional publicity 
    for their other products (they actually want to sell).
  </p>
</div>
