<div class="m-6 p-6 max-w-auto mx-auto bg-white rounded-xl shadow-md grid grid-cols-3 grid-rows-4 md:grid-rows-2 items-center space-x-4">
  <p class="text-2xl text-center col-span-3">
    Welcome to my project for our "Integrationsseminar" course at DHBW Mannheim.
  </p>
    <div
    class='p-6 m-2 max-w-auto mx-auto bg-blue-400 rounded-xl shadow-md flex items-center space-x-4 h-36 col-span-3 md:col-span-1'
  >
    </span>
    <p class='text-2xl text-white'>Querying 6 companies</p>
  </div>
  <div
    class='p-6 m-2 max-w-auto mx-auto bg-green-400 rounded-xl shadow-md flex items-center space-x-4 h-36 col-span-3 md:col-span-1'
  >
    </span>
    <p class='text-2xl text-white'>{{records}} records currently in the Database</p>
  </div>
    <div
    class='p-6 m-2 max-w-auto mx-auto bg-red-400 rounded-xl shadow-md flex items-center space-x-4 h-36 col-span-3 md:col-span-1'
  >
    </span>
    <p class='text-2xl text-white'>Approximately {{approxDataPoints}} datapoints available for analysis</p>
  </div>
</div>

<div class="m-6 p-6 max-w-auto mx-auto bg-white rounded-xl shadow-md space-x-4">
 <h3 class="text-2xl">Hypothesis</h3>
 <hr class="">
</div>
